body {
  margin: .1em;
  padding: .1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#red {
  color: red;
}
h1 {
  font-weight: none;
}
h2 {
  font-size: 3.5vh;
  margin-bottom: .05vh;
}
.wishLabel {
  text-align: left;
}
#rect, #rect2, #rect3 {
  background-color: #E3E2E2;
  height: 77%;
  width: 33%;
  position: fixed;
  display: flex;
  justify-content: center;
  float: right;
  right: 4%;
  top: 16%;
  border: 1px solid rgb(7, 6, 6);
  text-align: left;
}
#p2h2 {
  margin: 0px;
}

#rect {
  align-items: flex-end;
}
#rect2 {
  align-items: center;
}
#rect3 {
  align-items: center;
  flex-direction: column;
}
#rect2inner {
  height: 90%;
  width: 90%;
}
a {
  color: #00B7FF;
}
h1 {
  font-family: 'Marcellus', serif;
  letter-spacing: .08em;
  font-size: 4em;
  margin: .1em;
  padding-left: .25em;
  color: rgb(7, 6, 6);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: .1em;
  right: 2%
  /* width: 100%; */
}
.nav, .nav2 {
  float: right;
}
textarea{
  resize: none;
  width: 95%;
  text-align: center;
}

.nav-link, .nav-link2 {
  display: block;
  padding: 31px 15px;
  color: rgb(7, 6, 6);
  text-align: center;
  text-decoration: none;
  background-color: white;
  font-size: 1.4em;
  
  /* border-left: 1px solid #bbb; */
}

.nav-link2 {
  color: lightgrey;
}
#welcome {
  position: fixed;
  right: 2.7%;
}
.selfWish {
  height: 30%;
  position: fixed;
  bottom: 4%;
}
.poolWish {
  height: 30%;
  position: fixed;
  bottom: 4%;
}

.nav a:hover {
  background-color: #eae7e7;
}
.circle {
  background: #eae7e7;
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
  border: 1px solid rgb(7, 6, 6);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#add-wish {
  width: 93%;
}
#button {
  text-align: center;
  padding: 3px 3px 5.5px 3px;
  height: 3vh;
}
#btn {
  width: 35%;
  height: 30px;
}
#keywords {
  display: flex;
}
.words {
  padding-left: 10px;
}
#info, #info2, #info3 {
  width: 55%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 16%;
  left: 4%;
}
#outerInfo, #outerInfo2, #outerInfo3 {
  height: 77%;
  width: 54%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  left: 4%;
  top: 16%;
  border: 1px solid rgb(7, 6, 6);
  text-align: left;
  overflow-y: auto;
}
.words {
  font-size: 2.75vh;
  padding-left: 6vh;
}
#words {
  font-size: 2.75vh;

}
#lastWord {
  padding-right: 4.5vh;
}
#moonDescription {
  font-size: 2.3vh;
}
.description {
  font-size: 1.8vh;
}
#selfWish{
  height: 20vh;
  font-size: 2.5vh;
}
#poolWish {
  height: 7vh;
  font-size: 2.5vh;
}
img {
  height: 12vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.7vh 1.5vh 1.5vh 2.7vh;
}
#liked {
 background-color: yellow;
}
.intro {
  padding-left: 2vh;
}
#nextMoon {
  font-size: 3vh;
  margin: 15px 15px 20px 15px;
}