<%- include('../partials/header') %>
  
      <% if (user) { %>
        <div id="rect">
        <form id="add-wish" method="POST"
        action="/wishes">
        <h3>Instructions: </h3>
        <p class="description">Write a wish or goal in the present tense as if the desired outcome has already happened. Focus more on the experiential quality of the experience of sucess moreso than the means of getting there. </p>
        <p class="description">Instead of writing: "I want a job at Google." </p> 
        <p class="description">Better Practice:</p>
        <p class="description">Ex. "I work in a stimulating environment where I am appreciated and respected for what I contribute. I feel abundant and confident in my ability to provide for those that depend on me."</p>
          <h3>Pool Wish: </h3>
          <div>
            <textarea name="poolWish" id="poolWish" cols="30" rows="10"></textarea>
          </div>
        <h3>Your Wish: </h3>
         <div> 
          <textarea name="selfWish" id="selfWish" cols="30" rows="10"></textarea>
        </div>
        <div id="button">
        <button id="btn" type="submit">Add Wish</button>
        </div>
      </form>
    </div>
    <div id= "outerInfo">
    <div id="info">
      <div class="circle">
        <img src="/images/Virgo.png" alt="virgo">
    </div>
    <h2>Full Moon in Virgo</h2>
    <p id="nextMoon"></p> 
    <div id="keywords">
    <li id="words">Diligence</li>
    <li class="words">Organization</li>
    <li class="words">Focus</li>
    <li id="lastWord" class="words">Solitude</li>
    </div>
    <p id="moonDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita hic nobis tempore autem possimus provident. Itaque non magnam exercitationem recusandae ullam nulla maiores nesciunt ea similique, in, et debitis ratione!</p>
  </div>
    </div>
      <% } %>

      <script> 
      let deadline = new Date("Mar 9, 2020 13:48:00").getTime(); 
      let x = setInterval(function() { 
      let now = new Date().getTime(); 
      let t = deadline - now; 
      let days = Math.floor(t / (1000 * 60 * 60 * 24)); 
      let hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
      let minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
      let seconds = Math.floor((t % (1000 * 60)) / 1000); 
      document.getElementById("nextMoon").innerHTML = days + "d "  
      + hours + "h " + minutes + "m " + seconds + "s "; 
          if (t < 0) { 
              clearInterval(x); 
              document.getElementById("demo").innerHTML = "EXPIRED"; 
          } 
      }, 1000); 
      </script> 
  </body>
</html>
