<%- include('../partials/header') %>
  
      <% if (user) { %>
        <p>Welcome <%= user.name %></p>
        <% } %>

    <form id="add-wish" method="POST"
  action="/wishes/pool">
  <label>Your Wish:<br>
  <textarea name="selfWish" id="" cols="30" rows="10"></textarea>
</label><br>
<label>Pool Wish:<br>
  <textarea name="poolWish" id="" cols="30" rows="10"></textarea>
  </label><br>
  <input type="submit" value="Add Details">
</form>
  </body>
</html>
