<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Pool</title>
</head>
<body>
   <h2>Current Wish</h2> 
   <h3><%= wish.selfWish %></h3>
   <h3><%= wish.poolWish %></h3>
<form action="/wishes/<%= wish._id %>" method="POST">
    <label>Your Wish:
        <input type="text" name="selfWish">
      </label><br>
        <label>Pool Wish:
          <input type="text" name="poolWish">
        </label><br>
   <input type="submit" value="Add Details">
</form>
</body>
</html>