<%- include('../partials/header') %>

<div id= "outerInfo3">
    <div id="info3">
        THIS IS THE POOL
        <% if(wishes.length){ %>

            <% wishes.forEach(w => { %>
                
                <li><a href="/wishes/<%= w._id %>"><%= w.poolWish %></a></li>
            <% }) %>
        <% } else { %>
            there are no wishes to display yet!
        <% } %>
    </div>
    </div>
    <div id="rect3">
        <h2>Wish Display</h2>
        <div>
        <% if(wishes.length) { %>
            <h3>There are <%= wishes.length%> wishes in this Bank</h3>

        <% } else { %>
            <h3>There are no wishes in this bank</h3>
        <% } %>
        </div>
    </div>
</body>
</html>